.search-bar {
    justify-content: center;
    text-align: center;
    background-color: #FDC70B;
    padding: 0.5rem;
}

input {
    padding: 0.5rem;
    /* margin: 0.5rem; */
    min-width: 20rem;
}