.table {
  align-items: center;
  justify-content: center;
  margin: 2rem;
  border-spacing: 0;
  margin-left: auto;
  margin-right: auto;
}

th {
  color: #fff;
  padding: 12px;
  background-color: #467aaa;
  text-align: left;
}

td {
  padding: 12px;
}

tr {
  background-color: #eeeeee;
}

tr:nth-child(even) {
  background-color: #f4f4f4;
}
